/* shared styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 18px 35px;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}
.section-heading h2 {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-heading p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.text-center{
    text-align: center;
}
/* main styles */

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png") #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}
.primary{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 45px;
    font-weight: 900;
    color: #181818;
}


nav .manu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    
}
nav .manu a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

#about , #skills , #resume{
    
    padding-top: 130px;
    
}

#about .about-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info{
    
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.about-info .info-card h4{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}



#skills .skills-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skills-box{
    display: flex;
    gap:24px;
}

.skills-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0  #0000002d;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.skill-card p{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

#resume .resume-container{
    width: 70%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap:24px;
}

.resume-container .education-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-container hr{
    margin: 30px 0;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;

}

.resume-card , .card-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-card .card-info{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-card .card-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
}

footer .footer-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 0;
    display: flex;
    /* align-items: center; */
    gap: 117px;
}

.footer-container .social{
    max-width: 562px;
}

.footer-container .social h2{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 21px;
}
.footer-container .social p{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.footer-container .icons a{
    margin-right: 24px;

}
.footer-container .form input[type="text"], .footer-container .form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

