/* shared styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 18px 35px;
}
/* main styles */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
.primary{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 45px;
    font-weight: 900;
    color: #181818;
}


nav .manu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    
}
nav .manu a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}