/* shared styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 18px 35px;
    cursor: pointer;
}
/* main styles */

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png") #FFF8F3;
    background-repeat: no-repeat;
    /* background-position: top left, bottom right; */
    background-position: top left, bottom right;
    padding-top: 50px;
}
.primary{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 45px;
    font-weight: 900;
    color: #181818;
}


nav .manu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    
}
nav .manu a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}
